 
#intro{
    margin: 20px
}

#pics{
    margin: 30px
}

#about{
    margin: 20px
}

#list{
    margin: 0px 0px 30px
}

#locate{
    margin: 20px 0px 30px
}

#menu{
    margin: 30px
}

#gallery{
    margin: 0px 0px 30px
}

#order{
    margin: 30px
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

#pizza{
    margin: 0px 0px 30px
}

#pancake{
    margin:  0px 0px 30px
}

#spag{
    margin: 0px 0px 30px
}

#salad{
    margin: 0px opx 30px
}

#fruit{
    margin: 0px 0px 30px
}

#rice{
    margin: 0px 0px 30px
}

#fish{
    margin: 0px 0px 30px
}

#potatoes{
    margin: 0px 0px 30px
}
/*
#intro{
    border: 3px solid;
    border-radius: 20px;
}
*/
/*

    .table {
        border-collapse: collapse
    }
    
    td,th{
        border: 1px solid;
    }
*/

/*table {*/
/*  width: 100%;*/
/*  border: 1px solid black;*/
/*}*/


